:root{
    background:rgb(1, 22, 48);
    color: white;
}
#title{
    margin: 0%;
    text-align: center;
    color:white;
    background:rgb(1, 22, 48);
    font-size: 500%;
}


.nav{
    display: flex;
    font-family: Comic sans ms;
    position: absolute;
    flex-direction: column;
    justify-content:space-evenly;
    background: grey;
    color: rgb(255, 255, 255);
    height: 500px;
    margin-top: 25px;
    width: 20%;
    align-items:center;
    font-size: 1.5em;
}

#digital, #timer, #stopwatch{
    display: flex;
    flex-direction: row;
    background:rgb(1, 22, 48);
    height: 40px;
    width: 200px ;
    justify-content: center;
    align-items: center;
    border: solid 5% left blue;
}
#clock{
    border: solid 5px ;
}

.clock,.timer,.stopwatch{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    border: white solid 5px;
    width: 500px;
    height: 200px;
    margin-left: 45%;
    margin-top: 10%;
    font-size: 2em;

}

/* StopWatch */
#start{
    background: green;
    font-size: 20px;
}
#stop{
    background: red;
    font-size: 20px;
}
#reset{
    background: rgb(61, 125, 209);
    font-size: 20px;
}
#buttons{
    list-style-type:none;
    display: flex;
    justify-content:space-evenly;
    flex-direction: row;
    margin-right: 38px;
}

/* timer */
table,td{
    margin-left: auto;
  margin-right: auto;
  border: solid white 5px;
  font-size: 30px;
  text-align: center;
  width: 30%;
  margin-top: 10%;
}
.change>img{
    height: 20px;
    width:20px ;
}
.change{
    
    background-color: gray;
}
#timer-buttons{
    list-style-type:none;
    display: flex;
    justify-content:center;
    flex-direction: row;
    margin-right: 38px;
}
#digital:hover, #stopwatch:hover , #timer:hover{
    background-color: rgb(20, 1, 1);
    
}
a{
    color:white;
    text-decoration: none;
}